.side-bar,
.main,
.site-header {
  border-top: none !important;
  border-bottom: none !important;
}

.image-link {
    text-decoration: none;
}

.lang-switcher {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
}

@media (max-width: 768px) {
  .lang-switcher {
    justify-content: center;
  }
}
/* Remove link underlines globally EXCEPT navbar links */
.lang-switcher a,
.lang-switcher a:visited,
.lang-switcher a:hover,
.lang-switcher a:focus {
  text-decoration: none !important;
  border-bottom: none !important;
  box-shadow: none !important;
  background-image: none !important;
}
