.side-bar,
.main,
.site-header {
  border-top: none !important;
  border-bottom: none !important;
}

.image-link {
    text-decoration: none;
}
.lang-switcher {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  padding-right: 36px;
}
