h6 {
    color:white;
    display:inline
}
h4 {
    display:inline
}

a {
	text-decoration: none;
} 

code {
    display: table-cell;
    color:darkslateblue;
    background-color:lightgrey;
    padding: 3px;
}

li {
    margin-bottom: 3px;
}