h6 {
    color:white;
    display:inline
}
h4 {
    display:inline
}

h1{
    text-align: center;
  }
  

a {
	text-decoration: none;
} 

code {
    display: table-cell;
    color:white;
    background-color: #264c7d ;
    padding: 3px;
}

li {
    margin-bottom: 3px;
}